<footer class="page-footer bg-light">
    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 mr-auto ml-auto segment-one">
                    <br>
                    <h3 class="text-uppercase font-weight-bold text-white"> About-Us </h3>
                    <p class="mt-2 font-weight-bold text-white">Olofofo is Newsblog website that provide you, with
                        the latest news at your finger tips.</p>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mr-auto ml-auto segment-two">
                    <br>
                    <h2 class="text-uppercase font-weight-bold text-white"> pages </h2>
                    <ul class="list-unstyled text-Secondary">
                        <li><a href="{% url 'index' %}" class="text-info">Home</a></li>
                        <li><a href="{% url 'news' %}" class="text-info">News</a></li>
                        <li><a href="{% url 'entertainment' %}" class="text-info">Entertainment</a></li>
                        <li><a href="{% url 'sports' %}" class="text-info">Sports</a></li>
                        <li><a href="{% url 'world_news' %}" class="text-info">World news</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mr-auto ml-auto segment-three">
                    <br>
                    <h2 class="text-uppercase font-weight-bold text-white"> Follows-Us On</h2>
                    <p class="text-uppercase font-weight-bold text-white"> Please follow us on our social media
                        platform for more of our packages.</p>
                    <a class="btn-floating btn-lg-btn-tw" type="button" role="button"
                       href="https://www.twitter.com/Olofofo11546038"><i
                            class="fa fa-twitter text-Primary mr-4"></i> </a>
                    <a class="btn-floating btn-lg-btn-tw" type="button" role="button" href="https://www.facebook.com/Olofofo-106349171163648/"><i
                            class="fa fa-facebook text-Primary mr-4"></i> </a>
                    <a class="btn-floating btn-lg-btn-tw" type="button" role="button"
                       href="https://www.instagram.com/olof_ofo"><i class="fa fa-instagram text-info mr-4"></i> </a>
                    <a class="btn-floating btn-lg-btn-tw" type="button" role="button"
                       href="https://www.youtube.com/channel/UCpjgnig42jnS8UavRmgKN4g"><i class="fa fa-youtube text-Danger mr-4"></i> </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3 text-white">
            <p>&copy; copyright
                <a href="{% url 'index' %}" class="text-Danger"> Olofofo.org</a>
            </p>
            <p>Designed by Seriki Oluwaranti(08095594236) </p>
        </div>
    </div>
</footer>